<%= render :layout => 'subscriptions/shared/show' do %>

<h1 class="card-title-header">Editing Temp Shared Subscription</h1>
<hr>

<%= render 'form', temp_shared_subscription: @temp_shared_subscription %>

<% end %>