<%= render :layout => 'subscriptions/shared/show' do %>

<h1 class="card-title-header">Email Temporary Access to <%=@subscription.subscription_name%></h1>
<hr>
<br>
<%= render 'temp_access_email',  temp_shared_subscription: @temp_shared_subscription %>

<% end %>