<h2 class="display-2 center"><%= params[:search][:title] %> is available on: </h2>
<div style="width: 100%; display: table;">
        <div style="display: table-row; height: 100px;">
            <div style="width: 20%; display: table-cell;">
            <% @resultsName.each do |i|%> 
                  <a><%= i %></a><br> 
                  <%end%>
            </div>
            <div style="display: table-cell;"> 
            <% @resultsURL.each do |j|%> 
                  <a href = "<%= j %>" target="_blank"> <%= j %></a><br> 
                  <%end%>
            </div>
        </div>
    </div>