<%= render :layout => 'users/shared/cards' do %>

<h1 class="card-title">Edit Reminder</h1>
<hr>
<%= render 'form', reminder: @reminder %>
<%= button_to 'Delete', @reminder, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= button_to 'Back to Subscription', @reminder.subscription, method: :get, class: "btn btn-dark"  %>

<% end %>
