<%= render :layout => 'subscriptions/shared/show' do %>

<div class="row group-show-header">
  <div class="col col-sm-2" align="center">
    <%= link_to 'Back', @reminder.subscription, method: :get, class: "header-btn"  %>
  </div>
  <div class="col col-sm-8" align="center">
    <h1 class="card-title-header">Edit Reminder</h1>
  </div>
  <div class="col col-sm-2" align="center">
  </div>
</div>
<hr>

<%= render 'form', reminder: @reminder %>
<%= button_to 'Delete', @reminder, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-btn-delete" %>

<% end %>
