<%= render :layout => 'users/shared/cards' do %>


<h1>New <%= @reminder.subscription.subscription_name %> Reminder</h1>

<%= render 'form', reminder: @reminder %>

<%= button_to 'Back', @reminder.subscription, method: :get %> 

<% end %>
