<div class="tab-pane fade show active" id="sitewide" role="tabpanel" aria-labelledby="sitewide-tab">
 
  <h3>Sitewide statistics</h3>
  <p>Sitewide statistics have been compiled for you to see what others are using.</p>
  <p>Browse the graphs below to see how many subscriptions are hosted on Gatekeeper for each service and how much all of our users spend per month combined (hint - it's a lot!).</p>
  <hr>
 
  <div class="row stat-row">
    <div class="col col-lg-8 stat-col-data">
      <%= pie_chart Subscription.group(:subscription_name).count, 
        donut: true, legend: "left", 
        colors: ['#572F41', '#D1DBBD', '#69193E', '#91AA9D', '#973756', '#3E606F', '#BBAEAE', '#6F8A79', '#BDDDC9', '#193441'] %> 
    </div>
    <div class="col col-lg-4 stat-col-info">
      <h4>Sitewide Subscription Counts</h4>
      <p>We have a total of <b><%= Subscription.count() %> accounts</b> stored on gatekeeper.com across all of our users' accounts. 
      If you aren't already a user, sign up for an account today. If you are one of our loyal customers, use the <i>Group</i> and <i>Personal</i> 
      tabs at the top of the page to see how your stats stack up.</p>
    </div>
  </div>
      
  <div class="row stat-row">
    <div class="col col-lg-4 stat-col-info">
      <h4>Total Subscription Costs</h4>
      <p>The amount spent per month by service by our entire Gatekeeper userbase can be seen in this section. Hover over the bar chart sections 
      to see the total dollar value spent each month by users just like you.</p>
    </div>
    <div class="col col-lg-8 stat-col-data">
      <%= column_chart Subscription.group(:subscription_name).sum(:cost_per_month), 
        colors: ['#572F41', '#D1DBBD', '#69193E', '#91AA9D', '#973756', '#3E606F', '#BBAEAE', '#6F8A79', '#BDDDC9', '#193441'] %>
    </div>
  </div>
        
</div>
