


<div class="container" style="margin-top: 50px;"> 
  <h1 style="margin-bottom: 30px;">Gatekeeper Statistics</h1>
  <ul class="nav nav-tabs">
    <li class="nav-item active"><a class="nav-link active" href="#sitewide">Sitewide</a></li>
    <li class="nav-item"><a class="nav-link" href="#group">Group</a></li>
    <li class="nav-item"><a class="nav-link" href="#personal">Personal</a></li>
  </ul>

  <div class="tab-content">
    <div id="sitewide" class="tab-pane active in">
      <h3>Subscription statistics for all users on our site</h3>
      <p>The sitewide statistics below have been compiled for you to see what others on our platform are using.</p>
      <hr>
      <h4>Total subscription counts</h4>

      <%= pie_chart Subscription.group(:subscription_name).count, donut: true, legend: "left", colors: ['#69193E', '#973756', '#572F41', '#BBAEAE', '#6F8A79', '#BDDDC9'] %> 
      <hr>
      <h4>Total subscription costs</h4>

      <%= column_chart Subscription.group(:subscription_name).sum(:cost_per_month), donut: true, legend: "left", colors: ['#69193E', '#973756', '#572F41', '#BBAEAE', '#6F8A79', '#BDDDC9'] %>  
    </div>
    <div id="group" class="tab-pane">
      <p>Use the navbar on the left to view usage and cost statistics for all of the groups you are a part of. </p>
       
    </div>
    <div id="personal" class="tab-pane">
      <p>View your personal statistics below.</p>
       
    </div>
  </div>

</div>




<script>
$(document).ready(function(){
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });
});
</script>