<%= image_tag "vines-left-2.png", class:"img-vines vines-left-large" %>
<%= image_tag "vines-right-2.png", class:"img-vines vines-right-large" %>

<div class="card card-group">
  <div class="card-body">
    <%= yield %>
  </div>
</div>