<div class="nested-fields">
 <table>
  <tbody>
    <tr>
    <%= f.hidden_field :_destroy %>
    <td><%= f.association :user, as: :select, input_html: {class: 'chosen-select'}, label_method: :username, collection: User.where.not(id: @owner.id).or(User.where.not(id: (@group.nil? ? [] : @group.users))) %></td>
    <td><%= f.select :permission, Membership.permissions.keys, input_html: {class: 'chosen-select'}%></td>
    <td><%= link_to "X", '#', class: "remove_fields" %></td>
    </tr>
  </tbody>
</table> 
</div>
