<div class="nested-fields">
<table>
  <tbody>
    <tr>
        <%= f.hidden_field :_destroy %>
      <td><%= f.association :subscription, as: :select, input_html: {class: 'chosen-select'}, label_method: :subscription_name, collection: current_user.subscriptions %></td>
      <td><%= f.select :permission, SharedSubscription.permissions.keys, input_html: {class: 'chosen-select'}%></td>
    <td><%= link_to "X", '#', class: "remove_fields" %></td>
    </tr>
  </tbody>
</table>     
</div>
