<div class="nested-fields">
    <%= f.hidden_field :_destroy %>
    <%= f.association :subscription, as: :select, input_html: {class: 'chosen-select'}, label_method: :subscription_name, collection: current_user.subscriptions %>
    <%= f.select :permission, SharedSubscription.permissions.keys, input_html: {class: 'chosen-select'}%>
    <%= link_to "Remove", '#', class: "remove_fields" %>
</div>