<%= render :layout => 'groups/card' do %>

<div class="row">
  <div class="col col-sm-2">
    <%= link_to 'Back', groups_path, class:"header-btn" %>
  </div>
  <div class="col col-sm-8">
    <h1 class="card-title-header">Editing Group</h1>
  </div>
  <div class="col col-sm-2">
     <%= link_to 'View', @group, class:"header-btn" %>
  </div>
</div>
<hr />

<%= render 'form', group: @group %>


<% end %>