<body>
  <div class="main">
	<h1 class="display-2 center">gatekeeper</h1>
	<%= button_to 'LOGIN', user_session_path, id: "button-login", role: "button", class: "btn btn-dark" %>
	<br>
	<a href="http://127.0.0.1:3000/search" style="margin-top: 40px;">Not a member? Search for shows to watch now!</a>
  </div>
  <div class="container">
  </div>
</body>

