<!DOCTYPE html lang="en-us">
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified Bootstrap CSS -->
    <title>Gatekeeper</title>
  </head>
  <body>
    <div class="main">
      <h1 class="display-2 center">gatekeeper</h1>
      <button id="button-login" type="button" class="btn btn-dark">LOGIN</button>
      <br>
      <a href="" style="margin-top: 40px;">Not a member? Take our cable cutting quiz today!</a>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>

</div>
</body>
</html>