<%= render :layout => 'users/shared/cards' do %>

<h1 class="card-title">Edit Subscription</h1>
<hr>

<%= render 'form', subscription: @subscription, has_password: true %>

<%= button_to 'Back', @subscription, method: :get, class: "btn btn-dark"  %>
<%= button_to 'All Subscriptions', subscriptions_path, method: :get, class: "btn btn-dark"  %>
<% end %>
