<%= render :layout => 'subscriptions/shared/layout' do %>

<h1 class="card-title">New Subscription</h1>

<%= render 'form', subscription: @subscription, has_password: false %>

<%= link_to 'Back', subscriptions_path %>

<% end %>