<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new account has been created for <%= @new_user.first_name %> <%= @new_user.last_name %>!</p>
    <p>
    User details<br>
    --------------------------
    </p>
    <p>Username: <%= @new_user.username %></p>
    <p>Email: <%= @new_user.email %></p>
  </body>
</html>