<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>One of your subcriptions billing periods is ending soon!</p>
  </body>
</html>