/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap
 *= require chosen.bootstrap.min
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */
 
:root {
  --white: #ffffff;
  --lightgrey: #F8F9FA;
  --greypurple: #bbaeae;
  --magenta: #973756;
  --magenta-transp: #973755d3;
  --wine: #69193E;
  --mauve: #572F41;
  --sage: #6F8A79;
}

 body {
   background-color: var(--white);
   color: var(--mauve) !important;
   font-family: 'Libre Franklin', sans-serif;
 }

a { 
  color: var(--wine) !important;;
}

 a, a:hover {
   color: var(--magenta);
 }


 .main {
  text-align: center;
}

nav {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}

.hidden {
  display: none;
}

.select {
  display: inline-flex;
}

/* #notice {
  background-color: var(--sage);
  padding: 4px;
  color: white;
  border-radius: 5px;
} */

.img-gate, .img-vines, .img-roses {
  position: fixed;
}

.gate-right {
  left: 50vw;
  bottom: 0;
  animation-name: right;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes right {
  10% {left: 50vw;}
  55% {left: 75vw;}
  100% {left: calc(100vw - 400px); opacity: 0.5;}
}

.gate-left {
  left: calc(50vw - 400px);
  bottom: 0;
  animation-name: left;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

@keyframes left {
  10% {left:calc(50vw - 400px);}
  55% {left:calc(25vw - 400px);}
  100% {left: 0; opacity: 0.5;}
}

.gate-right-large {
  left: calc(100vw - 400px);
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

.gate-left-large {
  left: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

.vines-right-large {
  left: calc(100vw - 362px);
  top: 0;
  z-index: -1;
}

.vines-left-large {
  left: 0;
  top: 0;
  z-index: -1;
}

.roses-right-large {
  left: calc(100vw - 535px);
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.roses-left-large {
  left: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}


@media only screen and (max-width: 800px), (max-height: 670px) {
  .img-gate {
    display: none;
  }
}

@media only screen and (max-width: 1000px), (max-height: 600px) {
  .img-roses {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .img-vines {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .card {
    width: 85vw;
    min-width: 0 !important;
  }

  .sub-card {
    width: 100% !important;
    min-width: 0 !important;
  }

  .card-group {
    width: 85vw !important;
  }

  td > select, td > div > select {
    min-width: 50px ;
  }

  td {
    padding-right: 5px;
  }
}