

.ct-group {
  text-align: left !important;
}

.card-group {
  width: 500px !important;
}

.card-user {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid var(--mauve) !important;
}

.card-user:hover {
  background-color: var(--mauve);
  color: white !important;
  text-decoration: none;
}

.card-btn {
  text-decoration: none;
  padding: 7px 15px;
  background-color: var(--wine);
  border-radius: 5px;
  color: white !important;
}

.card-btn:hover {
  text-decoration: none;
  padding: 7px 15px;
  background-color: var(--magenta);
  border-radius: 5px;
  color: white !important;
}

.add_fields {
  text-decoration: none;
  padding: 7px 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--mauve);
  color: mauve !important;

}

.add_fields:hover {
  text-decoration: none;
  padding: 7px 15px;
  background-color: var(--lightgrey);
  border-radius: 5px;
  color: mauve !important;

}

.card-btn-delete, .remove_fields {
  text-decoration: none;
  padding: 6px 12px;
  background-color: crimson !important;
  border-radius: 5px;
  color: white !important;
}

.card-btn-delete:hover, .remove_fields:hover {
  text-decoration: none;
  background-color: firebrick !important;
  border-radius: 5px;
  color: white !important;
}

th {
  text-decoration: none;
  font-weight: bold;
  padding: 20px 40px 20px 0;
}

td {
  padding: 0 30px 20px 0;

}

td > select, td > div > select, .field > select, fieldset > select, #frequency > select   {
  display: block;
    width: 100%;
    min-width: 150px;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--mauve);
    background-color: #fff;
    background-image: url(https://cdn-icons.flaticon.com/png/512/2951/premium/2951226.png?token=exp=1650928374~hmac=030c2ff05094930e356e944a22605398);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.chosen-single {
  width: 100%;
  min-width: 150px;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
}

.col-users {
  margin: 10px 0;
}

.col-sm-2 {
  padding-top: 10px;
}

.header-btn {
  font-size: 20px;
}

.form-group > label {
  display: none !important;
}

h5 {
  margin: 10px 0;
}

.form-group {
  margin: 0 !important;
}
