// Place all the styles related to the statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tab-pane {
  margin-top: 20px;
}

.stat-row {
  margin-bottom: 80px;
}

.stat-col-info {
  padding: 40px;
  border-radius: 5px;
  font-weight: 200;
}

.stat-col-info-header {
  padding: 40px 40px 0 0;
  border-radius: 5px;
  font-weight: normal;
}

.sitewide-color {
  color: var(--white);
  background-color: var(--magenta);
}

.group-color {
  background-color: var(--wine);
  color: var(--white);
}

.personal-color {
  color: var(--white);
  background-color: var(--mauve);
}

.stat-col-data {
  padding-left: 50px;
  font-weight: 200;
}


.stat-page {
  margin-bottom: 50px;
}

.stat-table {
  background-color: var(--sage);
  color: var(--white);
}

h4 {
  font-weight: 500;
}


.visible {
  display: block;
}

.hidden {
  display: none;
}

.stat-img {
  width: 65%; 
  padding: 40px; 
  border: 4px solid; 
  border-radius: 5px;
}