// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  background-color: var(--white);
  margin: 0 auto; /* Added */
  margin-top: 5vh;
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.26);
  width: 35vw;
}

.card-title {
  text-align: center;
  font-weight: bold !important;
}

.card-title-header {
  text-align: center;
  font-weight: normal !important;
}

.field > input {
  width: 100%;
}

.field > label, .subscription-card-title {
  margin: 10px 0 2px 0;
  font-weight: bold;
}

.actions > input, form > input {
  background-color: var(--wine) !important;
  color: var(--white);
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.actions > input:hover, form > input:hover {
  background-color: var(--magenta);
}

#user_remember_me {
  width: fit-content !important;
}

#notice {
  background-color: var(--lightgrey);
  border-radius: 5px;
  border: var(--wine);
}
