// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  background-color: var(--white);
  margin: 0 auto; /* Added */
  margin-top: 5vh;
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.26);
  width: 35vw;
}

.user-card-title {
  text-align: center;
}

.field > input, .field_with_errors > input {
  width: 100%;
}

.field > label, .field_with_errors > label {
  margin: 10px 0 2px 0;
  font-weight: bold;
}

.actions > input, form > input {
  background-color: var(--wine);
  color: var(--white);
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  padding: 4px 0;
  box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.76);

}

.actions > input:hover, form > input:hover {
  background-color: var(--magenta) !important;
}

#button-google {
  box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.26);
  background: no-repeat image-url("google.png");
  background-color: white !important;
  background-position: 8px 6px;
  background-size: 18px 18px;
  padding: 4px;
  color: rgba(0, 0, 0, 0.54);
}

#button-google:hover {
  background-color: var(--lightgrey) !important;
}


#user_remember_me {
  width: fit-content !important;
}

.user-edit {
  background-color: var(--wine) !important;
  color: var(--white);
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  padding: 4px;
  box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.76);

}

.user-edit:hover {
  background-color: var(--magenta);
  color: var(--white);
}

.user-cancel {
  background-color: crimson !important;
  color: var(--white);
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.76);
}

.user-cancel:hover {
  background-color: firebrick !important;
  color: var(--white);
}

#user-success {
  background-color: green !important;
  color: var(--white);
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.76);
}

#user-success:hover {
  background-color: darkgreen !important;
  color: var(--white);
}


@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }

}

hr.style-or {
  margin: 30px 0 20px;
  overflow: visible; /* For IE */
  padding: 0;
  border-top: #000;
  color: #000;
  text-align: center;
}

hr.style-or:after {
  content: " OR ";
  display: inline-block;
  position: relative;
  top: -0.95em;
  font-size: .75em;
  padding: 0 0.5em;
  background: white;
}